<form #ngForm="ngForm" [formGroup]="formUsuario" (ngSubmit)="registrarUsuario()">
    <div class="row ">
        <div class="form-group row col col-sm-12 col-lg-6"
            [ngClass]="{'has-danger': erroresService.errores(formUsuario, 'documento', ngForm).hayErrores}">
            <label for="documento" class="col-form-label col-lg-4">Documento <span
                    class="text-danger">*</span></label>
            <input type="text" class="col form-control col-lg-8" placeholder="N&uacute;mero de documento, sin puntos"
                formControlName="documento">
            <div class="form-control-feedback col-sm-12"
                *ngIf="erroresService.errores(formUsuario, 'documento', ngForm).hayErrores">
                El n&uacute;mero de documento debe tener m&aacute;s de 5 d&iacute;gitos.
            </div>
        </div>

        <div class="form-group row col col-sm-12 col-lg-6"
            [ngClass]="{'has-danger': erroresService.errores(formUsuario, 'nombre', ngForm).hayErrores}">
            <label for="nombre" class="col-form-label col-lg-4">Nombres <span class="text-danger">*</span></label>
            <input type="text" class="col form-control col-lg-8" formControlName="nombre">
            <div class="form-control-feedback col-sm-12"
                *ngIf="erroresService.errores(formUsuario, 'nombre', ngForm).hayErrores">
                Los nombres son requeridos.
            </div>
        </div>

        <div class="form-group row col col-sm-12 col-lg-6"
            [ngClass]="{'has-danger': erroresService.errores(formUsuario, 'apellido', ngForm).hayErrores}">
            <label for="apellido" class="col-form-label col-lg-4">Apellidos <span class="text-danger">*</span></label>
            <input type="text" class="col form-control col-lg-8" formControlName="apellido">
            <div class="form-control-feedback col-sm-12"
                *ngIf="erroresService.errores(formUsuario, 'apellido', ngForm).hayErrores">
                Los apellidos son requeridos.
            </div>
        </div>
        
    </div>
    <button type="submit" class="btn btn-success ml-2">Guardar</button>
    
</form>