<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Preuba Edwin Gamboa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Servicio Externo</a>
        <a class="nav-item nav-link" routerLink="/registros" routerLinkActive="active">Listar Turnos</a>
        <a class="nav-item nav-link" routerLink="/usuarios" routerLinkActive="active">Registrar Usuario</a>
        <a class="nav-item nav-link" routerLink="/turnos" routerLinkActive="active">Registrar Turno</a>
      </div>
    </div>
  </nav>